<div class="mat-elevation-z5">
  <table mat-table [dataSource]="movies">
    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef >id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef >Nome</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Sinopses Column -->
    <ng-container matColumnDef="sinopses">
      <th mat-header-cell *matHeaderCellDef >Sinopse</th>
      <td mat-cell *matCellDef="let row">{{row.sinopses}}</td>
    </ng-container>

    <!-- Actors Column -->
    <ng-container matColumnDef="actors">
      <th mat-header-cell *matHeaderCellDef >Atores</th>
      <td mat-cell *matCellDef="let row">{{row.actors}}</td>
    </ng-container>

     <!-- Actions Column -->
     <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef >Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/movies/update/{{row.id}}" class="edit">
          <i class="material-icons">edit</i>
        </a>
        <a routerLink="" class="delete">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
